$primary-color: #34cc27;
$principal-font-family: 'Times New Roman', Times, serif;
$secondary-font-family: 'Courier New', Courier, monospace;
$border-radius: 0.5px;
$shadow-box: -10px 10px 10px  rgba(0,0,0,0.6);