@use "base" as *;

body {
  padding: 15px;
  margin: 15px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 100%;
  font-weight: bold;
  color: white;
}
.container-1 {
  display: grid;
  height: 90vh;
  grid-template-columns: repeat(auto-fill, 80px);
  grid-template-rows: 120px;
  grid-column-gap: 1px;
  grid-auto-rows: 120px;
  align-content: start;
  justify-content: space-around;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  
}

$iterations: 4;

.box {
  &.base-color {
    background-color: $base-color;
  }
  
  @for $i from 1 through $iterations {
    &.darken-#{$i} {
      background-color: darken($base-color, $amount: $i * 10%);
    }
    
    &.lighten-#{$i} {
      background-color: lighten($base-color, $amount: $i * 10%);
    }
  }
}
